extends layout

block content
  a(href=blog.html) Blog

block content
  p
    | This is, essentially, my cited sources, a bibliography of articles that might come up in future conversation. If you heard me say 'I recently read something about that', there is probably a link to it here. Nontheless, I hope you enjoy digging through these links as much I have enjoyed discovering them.
  script(type='text/javascript' src='https://gist.github.com/mimiflynn/4612084.js')/

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »
